<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.mapper.ThemeMapper">

	<select id="selectAll" resultType="com.ibm.domain.Theme">
		select * from theme
	</select>
	
	<select id="getById" parameterType="Integer" resultType="com.ibm.domain.Theme">
		select * from theme where theme_id = #{id}
	</select>
	
	<select id="getIdByName" parameterType="String" resultType="Integer">
		select theme_id from theme where theme_name = #{name}
	</select>
	
	<insert id="save" parameterType="com.ibm.domain.Theme">
		insert into theme(theme_name) values (#{themeName})
	</insert>
	
	<delete id="deleteById" parameterType="Integer">
		delete from theme where theme_id = #{id}
	</delete>
	
	<update id="update" parameterType="com.ibm.domain.Theme">
		update theme set theme_name=#{themeName} where theme_id = #{themeId}
	</update>
</mapper>