<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.mapper.UserMapper">
	<select id="getUserByName" parameterType="string" resultType="com.ibm.domain.User">
		select * from user where name=#{name}
	</select>

	<insert id="saveUser" parameterType="com.ibm.domain.User">
		INSERT 
		USER(name,sex,age,email,password,birthday,phone,address,introduction,identity,books_number) 
		VALUE 
		(#{name},#{sex},#{age},#{email},#{password},#{birthday},#{phone},#{address},#{introduction},0,3)
	</insert>
	
	<update id="updateUser" parameterType="com.ibm.domain.User">
		update USER 
		set 
		name=#{name},sex=#{sex},age=#{age},email=#{email},password=#{password},birthday=#{birthday},phone=#{phone},
		address=#{address},introduction=#{introduction},identity=#{identity},books_number=#{booksNumber} 
		where user_id=#{userId}
	</update>
	
	<select id="selectAllUser" resultType="com.ibm.domain.User">
		select * from user
	</select>
	
	<select id="selectBorrowingDetailsByUserId" parameterType="int" resultType="com.ibm.domain.BorrowingDetails">
		SELECT book_name,borrow_time,deadline,valid_time,borrow_stutas,return_time 
		FROM book 
		INNER JOIN (SELECT book_id id,borrow_time,deadline,valid_time,borrow_stutas,return_time FROM borrow 
		INNER JOIN USER ON #{id}=borrow.`user_id`) user_borrow
		ON book.book_id=user_borrow.id
	</select>
</mapper>